body{
	max-width: 1024px;
	margin: 0 auto;
}

.fixed{
	background: rgba(0,0,0,0.80);
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 20;
}

header{
	background: #ffffff;
	line-height: 50px;
	color: #000000;
	font-size: 16px;
}

header>.back{
	position: absolute;
	left: 14px;

}

header>.add{
	position: absolute;
	right: 14px;
	color: #5A96FF;
}

header>.tab-title{
	padding: 5px 10px;
	border:1px solid #F1F1F1;
}

header>.title-on{
	background: #F1F1F1;
	color: #666666;
}

header>span>img{
	width: 10px;
	height: 18px;
}

.full-btn{
	width: 100%;
	line-height: 48px;
	background:#5A96FF;
	color: #ffffff;
	font-size: 18px;
}

.bottom-fixed{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

.bottom-fixed>button{
	line-height: 48px;
	font-size: 15px;
	color: #ffffff;
	width: 33.33%;
}

.bottom-fixed>.half{
	width: 50%;
}

.bottom-fixed>.full{
	width: 100%;
}

.bottom-fixed>.success{
	background: #70A3FE;
}

.bottom-fixed>.warning{
	background: #F5A623;
}

.bottom-fixed>.error{
	background: #ED6666;
}

.bottom-fixed>.default{
	background: #02B37F;
}

.bottom-fixed>.empty{
	background: #ffffff;
	color: #000000;
}

.toast{
	background: rgba(0,0,0,0.80);
	border-radius: 2px;
	color: #ffffff;
	font-size: 14px;
	padding: 16px 32px;
	width: 260px;
	line-height: 28px;
	position: absolute;
	top:50%;
	left: 50%;
	transform:translate(-50%,-50%);
	z-index: 30;
}

.warning{
	width: 280px;
	position: absolute;
	top:50%;
	left: 50%;
	transform:translate(-50%,-50%);
	z-index: 20;
	background: #ffffff;
}

.warning>.content{
	padding: 20px 32px;
}

.warning>.content>.title{
	color: #000000;
	font-size: 16px;
	line-height: 15px;
	margin-bottom: 12px;
}

.warning>.content>.text{
	color: #999999;
	font-size: 13px;
	line-height: 12px;
}

.warning>.content>textarea{
	width: 100%;
	height: 49px;
	background: #F7F7F7;
	color: #999999;
	font-size: 12px;
	padding: 5px;
	margin-top: 15px;
	resize:none;
}

.warning>.warning-btn{
	border-top: 1px solid #F4F4F4;
}

.warning>.warning-btn>button{
	width: 50%;
	background: #ffffff;
	color: #000000;
	font-size: 15px;
	line-height: 49px;
}

.warning>.warning-btn>button:nth-child(2){
	border-left: 1px solid #F4F4F4;
}

.warning>.warning-btn>.full{
	width: 100%;
}

.warning>.warning-btn>.on{
	color: #5A96FF;
}

.picker-bottom{
	position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
}

.double-list{
	width: 347px;
	margin: 0 auto;
	padding: 0 10px;
	background: #ffffff;
}

.double-list>.item{
	height: 70px;
	padding-top: 16px;
	border-bottom: 1px solid #F0F0F0;
}

.double-list>.item:last-child{
	border-bottom: 0px;
}

.double-list>.item>img{
	width: 34px;
	height: 34px;
}

.double-list>.item>.content{
	width: 280px;
	height: 34px;
	border-left: 1px solid #F1F1F1;
	padding-left: 17px;
}

.double-list>.item>.content>p:nth-child(1){
	color: #000000;
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 6px;
}

.double-list>.item>.content>p:nth-child(1)>span{
	color: #BABABA;
	font-size: 12px;
}

.double-list>.item>.content>p:nth-child(2){
	color: #999999;
	font-size: 12px;
	line-height: 12px;
}

.double-list>.item>.content>p:nth-child(2)>span{
	width: 6px;
	height: 6px;
	display: inline-block;
	margin-right: 4px;
	background: #DF5656;
	border-radius: 50%;
}

.single-list{
	width: 347px;
	margin: 0 auto;
	background: #ffffff;
	padding-left: 12px;
}

.single-list>.item{
	line-height: 66px;
	padding-right: 10px;
	border-bottom: 1px solid #F1F1F1;
}

.single-list>.item:last-child{
	border-bottom: 0px;
}

.single-list>.item>img:nth-child(1){
	width: 28px;
	height: 28px;
	margin-right: 10px;
	font-size: 14px;
	color: #000000;
}

.single-list>.item>span{
	vertical-align: middle;
}

.single-list>.item>span>img{
	width: 7px;
	height: 12px;
}

.single-list>.item>span>.num{
	font-size: 12px;
	line-height: 12px;
	background: #FF7676;
	border-radius: 50%;
	padding:2px 5px;
	margin-right: 6px;
	color: #ffffff;
}

.list-form{
	background: #ffffff;
	width: 347px;
	margin: 0 auto;
	padding-left: 12px;
}

.list-form>.item{
	line-height: 46px;
	border-bottom: 1px solid #F1F1F1;
	color: #666666;
	font-size: 14px;
	padding-right: 10px;
}

.list-form>.item:last-child{
	border-bottom: 0px;
}

.list-form>.item>span>img{
	width: 7px;
	height: 12px;
	margin-left: 6px;
}

.list-form>.item>span>input{
	width: 160px;
	height: 40px;
	border:0;
	color: #000000;
	font-size: 14px;
}

.notice{
	background: #FEFCEC;
	color: #F86E21;
	line-height: 37px;
	font-size: 14px;
	padding: 0 15px;
}

.notice>span{
	margin-left: 17px;
}

.check-input{
	width: 12px;
	height: 12px;
	margin-right: 8px;
	border:1px solid #979797;
	background: #ffffff;
	padding: 0px;
	appearance: none;
    -webkit-appearance: none;
}

.check-input:checked{
	border:0;
	background: url("../../img/check.png")no-repeat center;
}

.radio-input{
	width: 12px;
	height: 12px;
	margin-right: 8px;
	background: #ffffff;
	border:1px solid #979797;
	border-radius: 50%;
}

.radio-input:checked{
	border:4px solid #5A96FF;
}

.search{
	width: 100%;
	background: #ffffff;
	padding: 0.16rem 0.373rem 0 0.373rem;
	position: fixed;
	top:1.333rem;
	left: 0;
	z-index: 10;
}

.search>.back{
	width: 0.267rem;
	height: 0.48rem;
	margin-right: 0.533rem;
	margin-top: 0.186rem;
}

.search>.back+input{
	background: #F7F7F7;
	width: 91.2%;
	height: 0.853rem;
	padding: 0 0.533rem;
	color: #000000;
}

.search>.search-select{
	padding: 0.693rem 0 0.56rem 0;
}

.search>.search-select>.select-type{
	width: 12.1%;
	height: 0.373rem;
	color: #111111;
	line-height: 0.387rem;
	font-size: 0.373rem;
	position: relative;
	margin-right: 1.11rem;
}

.search>.search-select>.select-type>.tri-down{
	width: 0;
	height: 0;
	display: inline-block;
	border-top: 0.187rem solid #C4C4C4;
	border-right: 0.133rem solid transparent;
	border-left: 0.133rem solid transparent;
	margin-left: 0.107rem;
	margin-bottom: 0.053rem;
}

.search>.search-select>.select-type>.tri-top{
	width: 0;
	height: 0;
	display: inline-block;
	border-bottom: 0.187rem solid #4B95FF;
	border-right: 0.133rem solid transparent;
	border-left: 0.133rem solid transparent;
	margin-left: 0.107rem;
	margin-bottom: 0.053rem;
}

.search>.search-select>.on{
	color: #4B95FF;
}

.search>.search-select>.select-type>.cover,.search>.search-select>.order>.cover{
	position: fixed;
	width: 100%;
	left: 0;
	height: 100%;
	background: rgba(0,0,0,0.50);
	z-index: 10;
	margin-top: 0.267rem;
}

.search>.search-select>.select-type>.all,.search>.search-select>.order>.all{
	background: #ffffff;
	width: 100%;
	position: fixed;
	left: 0;
	margin-top: 0.24rem;
	z-index: 20;
}

.search>.search-select>.select-type>.all>li,.search>.search-select>.order>.all>li{
	width: 100%;
	height: 1.2rem;
	font-size: 0.4rem;
	line-height: 1.2rem;
	color: #111111;
	display: inline-block;
	border-top: 1px solid #F7F7F7;
}

.search>.search-select>.select-type>.city{
	background: #ffffff;
	width: 33.33%;
	position: fixed;
	left: 0;
	margin-top: 0.24rem;
	z-index: 20;
	height: 8.6rem;
	overflow: auto;
}

.search>.search-select>.select-type>.city>li{
	width: 100%;
	height: 0.853rem;
	font-size: 0.347rem;
	line-height: 0.853rem;
	color: #111111;
	display: inline-block;
}

.search>.search-select>.select-type>.area{
	background: #F8F8F8;
	width: 33.33%;
	position: fixed;
	left: 33.1%;
	margin-top: 0.24rem;
	z-index: 20;
	height: 8.6rem;
	overflow: auto;
}

.search>.search-select>.select-type>.area>li,.search>.search-select>.select-type>.group>li{
	width: 100%;
	height: 0.853rem;
	font-size: 0.347rem;
	line-height: 0.853rem;
	color: #333333;
	display: inline-block;
}

.search>.search-select>.select-type>.group{
	background: #EFEFEF;
	width: 33.7%;
	position: fixed;
	left: 66.2%;
	margin-top: 0.24rem;
	z-index: 20;
	height: 8.6rem;
	overflow: auto;
}

.search>.search-select>.select-type>.all>.on,.search>.search-select>.select-type>.city>.on,.search>.search-select>.select-type>.area>.on,.search>.search-select>.select-type>.group>.on,.search>.search-select>.order>.all>.on{
	color: #5A96FF;
}

.search>.search-select>.select-type>.more{
	background: #ffffff;
	width: 100%;
	padding: 0.133rem 0 0.533rem 0.373rem;
	position: fixed;
	left: 0;
	margin-top: 0.267rem;
	z-index: 20;
	height: 70%;
	overflow: auto;
}

.search>.search-select>.select-type>.more>.search-item{
	padding-top: 0.4rem;
}

.search>.search-select>.select-type>.more>.search-item>.name{
	color: #111111;
	font-size: 0.373rem;
	margin-right: 0.427rem;
	line-height: 0.72rem;
}

.search>.search-select>.select-type>.more>.search-item>.item{
	width: 87.8%;
	color: #333333;
	font-size: 0.32rem;
	padding-bottom: 0.133rem;
	border-bottom: 1px solid #F7F7F7;
}

.search>.search-select>.select-type>.more>.search-item:last-child>.item{
	border-bottom: 0px;
}

.search>.search-select>.select-type>.more>.search-item>.item>span{
	width: 28.4%;
	height: 0.72rem;
	line-height: 0.72rem;
	background: #F7F7F7;
	margin-right: 0.453rem;
	margin-bottom: 0.247rem;
}

.search>.search-select>.select-type>.more>.search-item>.item>span:nth-child(3n+3){
	margin-right: 0;
}

.search>.search-select>.select-type>.more>.search-item>.item>.select{
	background: rgba(90,150,255,0.10);
	color: #5A96FF;
	border:1px solid #5A96FF;
}

.search>.search-select>.select-type>.search-button{
	position: fixed;
	bottom: 11%;
	left: 0;
	width: 100%;
	height: 1.8rem;
	z-index: 20;
	background: #ffffff;
	padding-left: 0.373rem;
}

.search>.search-select>.select-type>.search-button>button{
	width: 45.4%;
	height: 1.28rem;
	margin-top: 0.133rem;
	font-size: 0.48rem;
}

.search>.search-select>.select-type>.search-button>.cancel-btn{
	color: #333333;
	background: #F3F4F6;
	margin-right: 0.533rem;
}

.search>.search-select>.select-type>.search-button>.success-btn{
	color: #ffffff;
	background: #5A96FF;
}

.search>.search-select>.order{
	width: 0.32rem;
	height: 0.4rem;
}

.search>.search-select>.order>img{
	width: 100%;
	height: 100%;
}

.bottom-menu-fixed{
  width: 100%;
  height: 100px;
}
